/* You can add global styles to this file, and also import other style files */
body {
  background-color: #B6A3A5;
}

.font-dancing {
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
}

.font-gurajada {
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
}

.test {
  background-color: #201c1f;
}